<h1>More Information On Poverty:</h1>

<mat-list>
    <mat-list-item>Question: How does the Census measure poverty?</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Answer: The Census measures poverty by measuring if a family's total income is less than the family's threshold, then that family and every individual in it is considered in poverty.</mat-list-item>
    <mat-divider></mat-divider>
</mat-list>


<div class="button-wrapper">
    <button mat-button routerLink="/" [queryParams]="{reload: true}" disableRipple>Return Home</button>
</div>